# Prerequisites
*.d

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build directories
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
Win32/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Graphics/Debug/vc143.pdb
Graphics/Debug/vc143.idb
Graphics/Debug/Graphics.log
Graphics/Debug/AI_FinalProject.tlog/link.read.1.tlog
Graphics/Debug/AI_FinalProject.tlog/CL.write.1.tlog
Graphics/Debug/AI_FinalProject.tlog/CL.read.1.tlog
Graphics/Debug/AI_FinalProject.tlog/CL.command.1.tlog
Graphics/Debug/AI_FinalProject.ilk
Debug/AI_FinalProject.pdb
*.pdb
*.ilk
*.tlog
*.log
*.idb
